
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2e6a0;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}
header {
    width: 100%;
    height: 600px;
    background: -webkit-linear-gradient(to right, #ffffff81, #ffa60085), url(Fotos/empresa.png); 
    background: linear-gradient(to right, #ffffff81, #ffbb0085), url(Fotos/empresa.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.logo{
    max-width: 100px;
    margin: 1%;
    padding: 2%;

}
.hamburguesa{
    display: none;

}
nav {
    font-size: 20px;
    list-style: none;
    margin: 1%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.menu {
    padding: 1%;
    font-size: 20px;
    list-style: none;
    margin: 1%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: none;
}
.nav_items a{
    color: black;
    text-decoration: none;
    margin: 2%;
    box-shadow: none;
}
.nav_items {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    margin: 1%;
    width: 100%;
    box-shadow: none !important;
}

.nav_items:hover {
    font-weight: bolder;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgba(89, 89, 89, 0.282);

}

.textoheader h1 {
    font-size: 50px;
}

.textoheader h4 {
    font-size: 30px;
    font-weight: 300;
    color: rgb(52, 52, 52);
}

.textoheader {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 150px;
}
/*HEADER*/
.container-table{
    width: 90;
    margin: 1%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: 50px;
    border: 2px solid black;
    position: relative;
}
.titulo{
    grid-column-start: 1;
    grid-column-end: 6;

    font-weight: bold;
    background-color:blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9em;
    border: 10px solid black;
}
.header, .table_item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border: 2px solid black;
}
.header{
    font-weight: bold;
    font-size: 1.5em;
}
.table_item{
    padding: 10px;
    font-size: 1em;
    
}
.container-add{
    max-width: 45%;
    margin: 40px auto;
    border: 2px solid black;
    padding: 0.5%;

}
.container_tittle{
    margin:0;
    padding: 10px;
    background-color: rgb(120, 65,40,1);
    color: white;
    font-size: 1.9em;
    text-align: center;
}
.container_form{
    background: white ;
    box-shadow: 0 0 20px #333;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
}
.container_label{
    font-size: 1.3em;
    width: 20%;

}
.container_input{
    width: 25%;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    padding: 5px;   
}
.container_submit{
    background-color: rgb(120, 65,40,1);
    color: white;
    border: none;
    padding: 10px;
    margin: 10px auto;
    font-size: 1.1em;
    cursor:pointer;
    animation: wiggle 2s linear infinite;
}
@keyframes wiggle {
    0%, 7% {
    transform: rotateZ(0);
    }
    15% {
    transform: rotateZ(-15deg);
    }
    20% {
    transform: rotateZ(10deg);
    }
    25% {
    transform: rotateZ(-10deg);
    }
    30% {
    transform: rotateZ(6deg);
    }
    35% {
    transform: rotateZ(-4deg);
    }
    40%, 100% {
    transform: rotateZ(0);
    }
}  
.title_edit{
    position: absolute;
    right: 7%;
    color:white;
    text-decoration: none;
    font-size: .7em;

}
.title_edit:hover{
    text-decoration: underline;
}
.container-table--edit{
    grid-template-columns: repeat(6,1fr);
    width: 95;
    min-width: 900px;
    grid-auto-rows: 40px;
}
.titulo--edit{
    grid-column-start: 1;
    grid-column-end: 7;
}
.table_input{
    display: block;
    padding-left: 10px;
}
.container_submit--actualizar{
    background-color:blue;
    padding: 0;
    margin: 0;
    font-size: .9em;
    width: 100;

}
footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.contenido-footer{
    text-align: center;
}

.contenido-footer > p{ 
    color: #fff;
}

.contenido-footer h4{
    color: #fff;
    border-bottom: 4px solid #4d0686;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.texto-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

iframe {
    height: 230px;
    width: 230px;
}
@media (max-width:800px){
    .logo{
        display: none;
    }
    .menu{
        text-align: center;
        flex-direction: column;
        /* background: -webkit-linear-gradient(to right, #ffffff81, rgb(249, 112, 79)); */
        background: linear-gradient(to right, #ffffff81, rgb(249, 112, 79));
        background-size: cover;
        background-attachment: fixed;
        height: 600px;
        position: absolute;
        width: 100%;
        padding: 1%;
        margin:1;
        transform: translateY(-100%);
        display: flex;
    }
    .nav_items {
    flex-direction: column;
    display: flex;
    width: 100;
    height: 100;
    align-items: center;
    box-shadow: none;
    /*transform: translateY(-100%);*/
    }
    .hamburguesa{
        width: 40px;
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        cursor: pointer;
        display: flex !important;
        flex-direction: column;
        /*transform:translateY(-100);*/
    }
    .hamburguesa span{
        width: 30px;
        height: 4px;
        background-color: white;
        margin-bottom: 5px;
        border-radius: 2px;
        margin: 4px;
        transform-origin:5px 0px ;
        transition: 0.2s linear;
    }
    .close span{
        transform:rotate(45deg) translate(0px,0px);
    }
    .close span:nth-child(2){
        display: none;
    }
    .close span:nth-child(3){
        transform:rotate(-45deg) translate(-5px,1px);
    }
    .open{
        transform: translateY(0) !important;
    }
    .container-table,.container-table--edit{
        grid-template-columns: repeat(2,1fr);
    }
    .titulo,.titulo--edit {
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: 1.3em;
    }
    .container_label{
        width: 100%;
    }
    .container_input{
        width: 100%;
        margin-right: 0;
    }
    .container_submit{
        width: 100%;
    }
    .contenedor-footer{
        flex-direction: column;
    }
}
