body{
    background-color:#f2e6a0;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}


header {
    width: 100%;
    height: 600px;
    background: -webkit-linear-gradient(to right, #ffffff81, #ff000085); 
    background: linear-gradient(to right, #ffffff81, #ff000085) ;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.logo{
    max-width: 100px;
    margin: 1%;
    padding: 2%;

}
.hamburguesa{
    display: none;

}
nav {
    font-size: 20px;
    list-style: none;
    margin: 1%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.menu {
    padding: 1%;
    font-size: 20px;
    list-style: none;
    margin: 1%;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: none;
}
.nav_items a{
    color: black;
    text-decoration: none;
    margin: 2%;
    box-shadow: none;
}
.nav_items {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    margin: 1%;
    width: 100%;
    box-shadow: none !important;
}

.nav_items:hover {
    font-weight: bolder;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgba(89, 89, 89, 0.282);
    box-shadow: none;
}
.nav_items a:hover{
    box-shadow: none;
}

.textoheader h1 {
    font-size: 50px;
}

.textoheader h4 {
    font-size: 30px;
    font-weight: 300;
    color: rgb(52, 52, 52);
}

.textoheader {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 150px;
    stroke: none;
    fill: #f2e6a0;
}

.caja{
    color:white;
    margin: 1%;
    padding: 1%;
    background-color: #eedc74;
    border: 1px solid grey;
    width: 97%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cajaA .A{
    background-image: url(libro_abi.png);
    
}
.cajaA .B{
    background-image: url(montaña_llamativa.png);
}
.cajaA .C{
    background-image:url( libro_luz.jpeg);
}
.cajaA .D{
    background-image: url(estanteria.jpg);
}
.cajaA{
    display: flex;
    border: 2px solid red;
    margin: 1%;
    padding: 1%;
    width: 100%;
    justify-content: space-around;
    
}
.cajaA div{
    display: flex;
    margin:1%;
    padding: 5%;
    background-image: url(getxo.png);
    background-size:cover ;
    /*overflow: hidden;*/
    /*justify-content: space-around;*/
    /*transition:width 2s, height 4s;*/
    /*transition-timing-function: ;*/
}
.cajaA .A a{
    color:whitesmoke;
    font-size: 100%;
    text-decoration: none;
}
.caja .C a{
    color:whitesmoke;
    font-size: 100%;
    text-decoration: none;
}
.caja .B a{
    color:rgb(0, 255, 225);
    font-size: 100%;
    text-decoration: none;
}
.caja .D a{
    color: rgb(0, 255, 225);
    font-size: 100%;
    text-decoration: none;
}
.cajaA div:hover{
    transform: scale(1.14,1.15);
    transition: 1s;
}
.cajaB .A a{
    color:pink;
    font-size: 100%;
    text-decoration: none;
}
.cajaB .B a{
    color: whitesmoke;
    font-size: 100%;
    text-decoration: none;
}
.cajaB .C a{
    color: black;
    font-size: 100%;
    text-decoration: none;
}
.cajaB .D a{
    color: whitesmoke;
    font-size: 100%;
    text-decoration: none;
}
.cajaB{
    display: flex;
    border: 2px solid blue;
    margin: 1%;
    padding: 1%;
    width: 100%;
    justify-content: space-around;
}
.cajaB div{
    display: flex;
    margin: 1%;
    padding: 5%;
    justify-content: space-around;
    background-size: cover;
}
.cajaB div:hover{
    transform: scale(1.14,1.15);
    transition: 1s;
}
.cajaB .A{
    background-image: url(todos_leeindo.jpg);
}
.cajaB .B{
    background-image:url(libro_gru.jpg);
}
.cajaB .C{
    background-image: url(cerebro.jpg);
}
.cajaB .D{
    background-image: url(libro_jueg.png);
}
h1{
    text-align: center;
}

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.contenido-footer{
    text-align: center;
}

.contenido-footer > p{ 
    color: #fff;
}

.contenido-footer h4{
    color: #fff;
    border-bottom: 4px solid #4d0686;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.texto-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

iframe {
    height: 230px;
    width: 230px;
}
@media (max-width:750px){
    .logo{
        display: none;
    }
    .menu{
        text-align: center;
        flex-direction: column;
        /* background: -webkit-linear-gradient(to right, #ffffff81, rgb(249, 112, 79)); */
        background: linear-gradient(to right, #ffffff81, rgb(249, 112, 79));
        background-size: cover;
        background-attachment: fixed;
        height: 600px;
        position: absolute;
        width: 100%;
        padding: 1%;
        margin:1;
        transform: translateY(-100%);
        display: flex;
    }
    .nav_items {
    flex-direction: column;
    display: flex;
    width: 100;
    height: 100;
    align-items: center;
    box-shadow: none;
    /*transform: translateY(-100%);*/
    }
    .hamburguesa{
        width: 40px;
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        cursor: pointer;
        display: flex !important;
        flex-direction: column;
        /*transform:translateY(-100);*/
    }
    .hamburguesa span{
        width: 30px;
        height: 4px;
        background-color: white;
        margin-bottom: 5px;
        border-radius: 2px;
        margin: 4px;
        transform-origin:5px 0px ;
        transition: 0.2s linear;
    }
    .close span{
        transform:rotate(45deg) translate(0px,0px);
    }
    .close span:nth-child(2){
        display: none;
    }
    .close span:nth-child(3){
        transform:rotate(-45deg) translate(-5px,1px);
    }
    .open{
        transform: translateY(0) !important;
    }
    .cajaA{
        flex-direction: column;

    }
    .cajaA div{
        padding: 21%;
        margin: 4.8%;
    }
    .cajaB{
        flex-direction: column;
    }
    .cajaB div{
        padding: 23%;
        margin: 4.8%;
    }
    /*
    .cajaA div{
    /*margin: 1%;
        padding: 1%;
        width: 100%;
        flex-direction: column;
    }*/
    .contenedor-footer{
        flex-direction: column;
    }

}